/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-virtual-scroll-content-wrapper {
  display: flex !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px 20px;
}
